@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.fs-15 {
  font-size: 15px;
}
.margin-15 {
  margin-left: 15px;
}
.pt-4px {
  padding-top: 4px;
}
.color-dark {
  color: #625c56;
}

#sec1 {
  width: 100%;
  .img {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./23.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @media screen and (max-width: 992px) {
      background-attachment: scroll;
    }
    min-height: 100vh;
    .js {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000; /* عشان يظهر فوق الصورة */
      transition:
        background-color 0.4s ease,
        padding 0.4s ease;
      .header {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        @media screen and (min-width: 768px) and (max-width: 992px) {
          padding-left: 0;
          padding-right: 0;
        }
        img {
          width: 115px;
          margin-left: 4.6rem;
          @media screen and (min-width: 768px) and (max-width: 992px) {
            margin-left: 0;
          }
          @media screen and (max-width: 767px) {
            margin-left: 0;
          }
        }
        nav {
          margin-right: 4.5rem;
          a {
            color: white;
            text-decoration: none;
            font-size: 12px;
            margin: 1px;
            padding: 8px 12px;
            font-weight: 800;
            letter-spacing: 1px;
            transition: all 0.5s ease;
          }
          a:hover {
            color: #91765a;
          }
        }
      }
      &.scrolled {
        background-color: black;
      }
    }
    .hero {
      padding-top: 200px;
      width: 100%;
      @media screen and (min-width: 768px) and (max-width: 992px) {
        padding-top: 150px;
      }
      h5 {
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 1.5em;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 15px;
        text-align: center;
      }
      h1 {
        font-weight: 900;
        font-size: 60px;
        letter-spacing: 1px;
        line-height: 1.25em;
        text-align: center;
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
          font-size: 36px;
        }
      }
      button {
        margin-top: 20px;
        font-size: 12px;
        font-weight: 800;
        padding: 15px 25px;
        letter-spacing: 1px;
        border: 1px solid white;
        line-height: 20px;
        text-align: center;
        transition: all 0.5s ease;
        background-color: white;
        color: black;
      }
      button:hover {
        background-color: #91765a;
        color: white;
        border: 1px solid transparent;
      }
    }
    .arrowDown {
      border-radius: 100%;
      line-height: 50px;
      width: 50px;
      height: 50px;
      background-color: transparent;
      color: white;
      border: 1px solid white;
      position: absolute;
      left: 50%;
      bottom: 45px;
      margin-top: 10px;
      cursor: pointer;
      animation: bounce 3s infinite;
      i {
        font-size: 15px;
      }
    }
    .arrowDown:hover {
      border: 1px solid #91765a;
      color: #91765a;
    }
  }
}

#sec2 {
  width: 100%;
  padding: 120px 0;
  background-color: #f5eee7;
  .container {
    padding-left: 80px !important;
    padding-right: 80px !important;
    @media screen and (max-width: 992px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    .left {
      width: 50%;
      padding: 0 12px;
      @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;
      }
      .head {
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 2px;
        margin-bottom: 0;
        color: #91765a;
      }
      h1 {
        font-size: 48px;
        line-height: 1.2em;
        font-weight: 800;
        color: #14100c;
        @media screen and (max-width: 767px) {
          font-size: 27px;
        }
      }
      .paragraph {
        font-size: 15px;
        line-height: 1.75em;
        font-weight: 300;
        color: #625c56;
      }
    }
    .right {
      width: 50%;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .img1 {
        width: 50%;
        padding: 0 12px;
        margin-top: 90px;
        margin-bottom: 30px;
      }
      .img2 {
        width: 50%;
        padding: 0 12px;
      }
    }
  }
}

#sec3 {
  width: 100%;
  background-color: #f5eee7;
  padding-bottom: 120px;
  .container {
    padding-left: 80px !important;
    padding-right: 80px !important;
    @media screen and (max-width: 992px) {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
    .row {
      .firstt {
        display: flex;
        img {
          width: 43.4px;
          height: 43.4px;
        }
        .first {
          padding-left: 2rem;
          h5 {
            font-size: 24px;
            font-weight: 800;
            color: #14100c;
            line-height: 1.25em;
            margin: 0 0 10px 0;
          }
          p {
            font-size: 15px;
            line-height: 1.75em;
            font-weight: 300;
            color: #625c56;
            margin-bottom: 15px;
          }
        }
      }
      .secondd {
        display: flex;
        img {
          width: 50.4px;
          height: 50.4px;
        }
        .second {
          padding-left: 2rem;
          h5 {
            font-size: 24px;
            font-weight: 800;
            color: #14100c;
            line-height: 1.25em;
            margin: 0 0 10px 0;
          }
          p {
            font-size: 15px;
            line-height: 1.75em;
            font-weight: 300;
            color: #625c56;
          }
        }
      }
      .thirdd {
        display: flex;
        img {
          width: 50.4px;
          height: 50.4px;
        }
        .third {
          padding-left: 2rem;
          h5 {
            font-size: 24px;
            font-weight: 800;
            color: #14100c;
            line-height: 1.25em;
            margin: 0 0 10px 0;
          }
          p {
            font-size: 15px;
            line-height: 1.75em;
            font-weight: 300;
            color: #625c56;
          }
        }
      }
    }
  }
}

#sec4 {
  background-color: #14100c;
  padding: 120px 0;
  .container {
    padding-left: 100px !important;
    padding-right: 100px !important;
    @media screen and (max-width: 992px) {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
    img {
      max-width: 100%;
    }
    .row {
      .left {
        margin-bottom: 30px;
      }
      .right {
        margin-top: 100px;
        @media screen and (max-width: 992px){
          margin-top: 0;
        }
        }
        .para {
          font-size: 12px;
          color: #91765a;
          font-weight: 800;
          letter-spacing: 2px;
          margin-bottom: 0px;
          text-transform: uppercase;
        }
        h1 {
          font-size: 48px;
          line-height: 1.2em;
          font-weight: 800;
          color: white;
          @media screen and (max-width:767px) {
            font-size: 27px;
          }
        }
        .text {
          font-size: 15px;
          line-height: 1.75em;
          color: #aba59f;
          font-weight: 300;
          margin-bottom: 15px;
        }
        .bottom {
          margin: 30px 0;
          img {
            width: 70px;
            margin-right: 20px;
          }
          .sign {
            .top {
              font-size: 15px;
              color: #aba59f;
              margin-bottom: 0px;
            }
            .bot {
              font-size: 15px;
              color: #91765a;
            }
          }
        }
      }
    }
  }


@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-20px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}
